{
    "extends": "airbnb",
    "env": {
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "rules": {
        "comma-dangle": ["error", "never"],
        "one-var": ["error", "consecutive"],
        "object-shorthand": ["error", "never"],
        "object-curly-newline": ["error", { "consistent": true }],
        "react/jsx-indent": ["error", 4, {"indentLogicalExpressions": true}],
        "react/jsx-indent-props": ["error", "first"],
        "react/no-unescaped-entities": ["error", {"forbid": [">", "}"]}],
        "react/jsx-wrap-multilines": ["error", {"declaration": "parens"}],
        "react/prop-types": ["off"],
        "indent": ["error", 4, {"SwitchCase":1}],
        "no-plusplus": ["off"],
        "quotes": ["off"],
        "camelcase": ["off"],
        "prefer-template": ["off"],
        "max-len": ["error", { "code": 150 }],
        "no-param-reassign": ["off"],
        "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
        "arrow-body-style": ["error", "as-needed"],
        "react/no-array-index-key": ["off"],
        "no-loop-func": "error",
        "operator-assignment": ["off"],
        "prefer-destructuring": ["error", { "array": false, "object": true}],
        "linebreak-style": ["off"]
    }
}